<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users List</title>
  </head>
  <body>
    <h1>View Users List in HTML</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Domain</th>
          <th>Age</th>
          <th>Experience</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.domain }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.experience }}</td>
          <td>{{ user.salary }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
